@import url(http://fonts.googleapis.com/css?family=Raleway:400);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Alex+Brush);
@import url(https://fonts.googleapis.com/css?family=Lato);
@immport "compass";
@immport "partials/variables";
@immport "partials/normalize";
@immport "partials/mixins";
@immport "partials/base";
@immport "compass/css3";
body {
  font-family: Raleway;
  font-weight: 400;
  text-align: center;
  background: #1f1f1f; }

.container {
  padding-top: 100px;
  padding-bottom: 100px; }

h1 {
  font-family: Oswald;
  color: white;
  font-size: 90px;
  margin-bottom: 40px; }

h2 {
  font-weight: bold;
  color: #bddada;
  margin: 0px; }

h3 {
  color: white;
  font-size: 25px; }

p {
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  line-height: 30px; }

.divider {
  margin: 55px; }

a {
  color: white;
  letter-spacing: 4px;
  text-decoration: none;
  z-index: 2; }
  a:hover {
    color: #bddada; }

.navbar .container {
  padding: 0px; }
.navbar li {
  padding: 0px;
  font-size: 15px; }

#main {
  background-image: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.3) 100%), url(../images/backgrounds/background4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-width: 100%;
  background-height: auto; }
  #main .container {
    padding: 12% 0%; }
  #main h1 {
    margin: 40px;
    font-size: 145px; }
  #main h3 {
    color: #bddada;
    letter-spacing: 12px;
    font-size: 25px;
    margin: 5px 0px 0px 0px; }
  #main p {
    letter-spacing: 5px;
    font-size: 20px;
    margin: 0px 0px 50px 0px; }
  #main button {
    background: #bddada;
    font-weight: bolder;
    border: none;
    padding: 11px 20px;
    border-radius: 10px; }
    #main button:hover {
      background: #bddada; }
    #main button a {
      color: black;
      letter-spacing: 2px;
      font-weight: bolder; }

#profile {
  background: white; }
  #profile p {
    color: black;
    line-height: 30px; }

#skills {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/backgrounds/background1.jpeg);
  background-size: cover; }
  #skills #headline {
    font-size: 80px;
    text-align: center; }

#work {
  background: white; }
  #work h1 {
    color: #242521; }
  #work .ctn {
    display: inline-table;
    padding: 10px;
    width: 200px;
    cursor: pointer; }
  #work p {
    line-height: 20px; }

#design {
  background: white; }
  #design img {
    -webkit-filter: grayscale(1);
    transition: all .3s ease;
    max-width: 300px;
    transform: scale(0.95, 0.95); }
  #design img:hover {
    -webkit-filter: grayscale(0);
    transform: scale(1, 1); }
  #design .gallery-container {
    margin: 0 auto;
    margin-top: 140px;
    width: 300px;
    height: 200px;
    position: relative;
    perspective: 1000px; }
  #design #carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear; }
  #design #carousel:hover {
    animation-play-state: paused; }
  #design #carousel figure {
    display: block;
    position: absolute;
    background: #3b3b3b;
    overflow: hidden;
    border: solid 3px #3b3b3b; }
  #design #carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(440px); }
  #design #carousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(440px); }
  #design #carousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(440px); }
  #design #carousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(440px); }
  #design #carousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(440px); }
  #design #carousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(440px); }
  #design #carousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(440px); }
  #design #carousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(440px); }
  #design #carousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(440px); }
@keyframes rotation {
  from {
    transform: rotateY(360deg); }
  to {
    transform: rotateY(0deg); } }
#timeline {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/backgrounds/background0.jpeg);
  background-size: cover; }
  #timeline .month {
    font-family: Alex Brush;
    position: relative;
    margin: 0px;
    font-size: 60px; }
  #timeline .month > span {
    font-size: 90px; }
  #timeline .year {
    position: absolute;
    font-family: Oswald;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.16);
    top: 10px;
    right: 39%; }
  #timeline h3 {
    text-transform: capitalize;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    margin: 20px; }
  #timeline p > span {
    letter-spacing: 10px; }

#contact {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 100%), url(../images/backgrounds/black-geometry.jpg); }
  #contact .container {
    padding: 10% 2%; }
  #contact h3 {
    margin: 60px 0px 40px 0px; }
  #contact img {
    height: 20px;
    margin: 10px; }

@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("websymbols/websymbols-regular-webfont.eot");
  src: url("websymbols/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("websymbols/websymbols-regular-webfont.woff") format("woff"), url("websymbols/websymbols-regular-webfont.ttf") format("truetype"), url("websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
#work .ctn {
  display: inline-table;
  border: 9px solid #3b3b3b;
  box-shadow: 4px 7px 6px 4px rgba(0, 0, 0, 0.2);
  width: 240px;
  height: 230px;
  vertical-align: middle;
  margin: 25px;
  -webkit-box-shadow: 4px 7px 6px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 7px 6px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; }
  #work .ctn .inner-ctn {
    display: table-cell;
    vertical-align: middle; }
  #work .ctn:hover {
    float: clear;
    background: #3b3b3b;
    z-index: 999;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
#work .ca-icon {
  display: inline-block;
  top: 10%;
  padding: 10px;
  height: 90px;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear; }
#work .ctn:hover .ca-icon {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: inline-block;
  height: 100px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  -webkit-animation: smallToBig 800ms alternate infinite ease;
  -moz-animation: smallToBig 800ms alternate infinite ease;
  -ms-animation: smallToBig 800ms alternate infinite ease; }
#work .ca-main {
  font-size: 30px;
  z-index: 2;
  margin-bottom: 0px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear; }
#work .ctn:hover .ca-main {
  opacity: 1;
  color: white;
  z-index: 2;
  -webkit-animation: smallToBig 300ms ease;
  -moz-animation: smallToBig 300ms ease;
  -ms-animation: smallToBig 300ms ease; }
#work .ca-sub {
  font-size: 12px;
  color: #AAA;
  opacity: 0.82;
  display: inline-block;
  margin: 7px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear; }
#work .ctn:hover .ca-sub {
  -webkit-animation: moveFromBottom 500ms ease;
  -moz-animation: moveFromBottom 500ms ease;
  -ms-animation: moveFromBottom 500ms ease; }
#work .ca-descrip {
  display: none;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
  margin: 0; }
#work .ctn:hover .ca-descrip {
  display: inline-block;
  z-index: 2;
  font-size: 12px;
  -webkit-animation: smallToBig 300ms ease;
  -moz-animation: smallToBig 300ms ease;
  -ms-animation: smallToBig 300ms ease; }
@-webkit-keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1); }
  to {
    -webkit-transform: scale(1); } }
@-moz-keyframes smallToBig {
  from {
    -moz-transform: scale(0.1); }
  to {
    -moz-transform: scale(1); } }
@-ms-keyframes smallToBig {
  from {
    -ms-transform: scale(0.1); }
  to {
    -ms-transform: scale(1); } }
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%); }
  to {
    -moz-transform: translateY(0%); } }
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(100%); }
  to {
    -ms-transform: translateY(0%); } }

/*# sourceMappingURL=styles.css.map */
