@import url(http://fonts.googleapis.com/css?family=Raleway:100);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Cedarville+Cursive);
@immport "compass";
@immport "partials/variables";
@immport "partials/normalize";
@immport "partials/mixins";
@immport "partials/base";
@immport "compass/css3";
/* line 15, ../sass/styles.scss */
body {
  font-family: Raleway;
  font-weight: 400;
  text-align: center;
  padding: 0;
  background: black;
}

/* line 23, ../sass/styles.scss */
.container {
  padding: 8% 2%;
}

/* line 27, ../sass/styles.scss */
h1 {
  font-family: Oswald;
  color: white;
  font-size: 64px;
  margin: 0px;
}

/* line 34, ../sass/styles.scss */
h2 {
  font-weight: bold;
  font-family: Roboto;
  color: #c4e3e3;
}

/* line 40, ../sass/styles.scss */
h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  margin: 0px;
  padding: 20px;
}

/* line 47, ../sass/styles.scss */
p {
  padding: 20px;
  font-size: 19px;
  color: rgba(212, 226, 223, 0.98);
  letter-spacing: 2px;
}

/* line 55, ../sass/styles.scss */
.navbar .container {
  padding: 0 10px;
}
/* line 59, ../sass/styles.scss */
.navbar li {
  padding: 0;
  font-size: 16px;
}

/* line 65, ../sass/styles.scss */
.small-ctn {
  display: inline-table;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

/* line 72, ../sass/styles.scss */
ul {
  list-style-type: none;
  color: white;
  padding: 0px;
}

/* line 78, ../sass/styles.scss */
li {
  padding: 10px;
  font-size: 20px;
}

/* line 83, ../sass/styles.scss */
.divider {
  border: 2px solid #666;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* line 90, ../sass/styles.scss */
a {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 2;
}
/* line 96, ../sass/styles.scss */
a:hover {
  color: #c4e3e3;
  font-weight: bold;
}

/* line 102, ../sass/styles.scss */
#main {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 100%), url(../images/background4.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  padding-top: 4%;
}
/* line 109, ../sass/styles.scss */
#main h1 {
  font-size: 84px;
  font-family: Raleway;
  font-weight: bold;
}
/* line 115, ../sass/styles.scss */
#main h3 {
  color: rgba(255, 255, 255, 0.38);
  letter-spacing: 15px;
}
/* line 120, ../sass/styles.scss */
#main .container {
  padding-top: 160px;
}
/* line 124, ../sass/styles.scss */
#main p {
  letter-spacing: 7px;
}

/* line 129, ../sass/styles.scss */
#profile {
  background: #F8F8F8;
  text-align: left;
}
/* line 133, ../sass/styles.scss */
#profile h1 {
  color: black;
}
/* line 137, ../sass/styles.scss */
#profile h2 {
  color: black;
  font-size: 64px;
  font-style: italic;
  font-family: sans serif;
}
/* line 144, ../sass/styles.scss */
#profile p {
  color: #616867;
}

/* line 149, ../sass/styles.scss */
#skills {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/background.jpg);
  background-size: cover;
  padding: 5%;
}
/* line 155, ../sass/styles.scss */
#skills h2 {
  color: #c4e3e3;
  padding: 19px 0px 0px 0px;
}

/* line 161, ../sass/styles.scss */
#projects {
  background: #242521;
}
/* line 164, ../sass/styles.scss */
#projects h1 {
  padding-bottom: 30px;
}
/* line 168, ../sass/styles.scss */
#projects p {
  font-size: 14px;
}

/* line 173, ../sass/styles.scss */
#blog {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/background3.jpg);
  background-size: cover;
}
/* line 177, ../sass/styles.scss */
#blog h1 {
  font-size: 44px;
}
/* line 180, ../sass/styles.scss */
#blog h1 > span {
  font-size: 60px;
}
/* line 184, ../sass/styles.scss */
#blog p > span {
  letter-spacing: 10px;
}

/* line 189, ../sass/styles.scss */
#art {
  background: #BFD0CD;
}
/* line 191, ../sass/styles.scss */
#art h1 {
  color: black;
}
/* line 194, ../sass/styles.scss */
#art img {
  max-height: 350px;
  max-width: 340px;
  padding: 10px;
}

/* line 201, ../sass/styles.scss */
#contact {
  background: black;
}
/* line 204, ../sass/styles.scss */
#contact .container {
  padding: 14% 2%;
}
/* line 208, ../sass/styles.scss */
#contact h2 {
  margin: 25px;
}
/* line 212, ../sass/styles.scss */
#contact img {
  height: 20px;
  margin: 10px;
}

@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("websymbols/websymbols-regular-webfont.eot");
  src: url("websymbols/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("websymbols/websymbols-regular-webfont.woff") format("woff"), url("websymbols/websymbols-regular-webfont.ttf") format("truetype"), url("websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 232, ../sass/styles.scss */
#projects h1 {
  padding-bottom: 45px;
}
/* line 236, ../sass/styles.scss */
#projects .small-ctn {
  display: inline-table;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 3px solid black;
  width: 250px;
  margin: 4px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
/* line 250, ../sass/styles.scss */
#projects .small-ctn:hover {
  float: clear;
  background: rgba(0, 0, 0, 0.83);
  z-index: 999;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 262, ../sass/styles.scss */
#projects .ca-icon {
  display: inline-block;
  top: 10%;
  padding: 10px;
  height: 70px;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}
/* line 274, ../sass/styles.scss */
#projects .small-ctn:hover .ca-icon {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: inline-block;
  height: 100px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  -webkit-animation: smallToBig 800ms alternate infinite ease;
  -moz-animation: smallToBig 800ms alternate infinite ease;
  -ms-animation: smallToBig 800ms alternate infinite ease;
}
/* line 289, ../sass/styles.scss */
#projects .ca-main {
  font-size: 30px;
  z-index: 2;
  margin-bottom: 0px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 300, ../sass/styles.scss */
#projects .small-ctn:hover .ca-main {
  opacity: 1;
  color: white;
  z-index: 2;
  -webkit-animation: smallToBig 300ms ease;
  -moz-animation: smallToBig 300ms ease;
  -ms-animation: smallToBig 300ms ease;
}
/* line 309, ../sass/styles.scss */
#projects .ca-sub {
  font-size: 14px;
  color: #AAA;
  opacity: 0.82;
  display: inline-block;
  margin: 0;
  padding: 10px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 323, ../sass/styles.scss */
#projects .small-ctn:hover .ca-sub {
  color: #ccff00;
  -webkit-animation: moveFromBottom 500ms ease;
  -moz-animation: moveFromBottom 500ms ease;
  -ms-animation: moveFromBottom 500ms ease;
}
/* line 330, ../sass/styles.scss */
#projects .ca-descrip {
  display: none;
  margin: 0;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 341, ../sass/styles.scss */
#projects .small-ctn:hover .ca-descrip {
  display: inline-block;
  z-index: 2;
  -webkit-animation: smallToBig 300ms ease;
  -moz-animation: smallToBig 300ms ease;
  -ms-animation: smallToBig 300ms ease;
}
@-webkit-keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes smallToBig {
  from {
    -moz-transform: scale(0.1);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes smallToBig {
  from {
    -ms-transform: scale(0.1);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0%);
  }
}
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(100%);
  }
  to {
    -ms-transform: translateY(0%);
  }
}
